[user]
	name = Matt Wanchap
	email = matt.wanchap@class.com.au
[core]
	autocrlf = input
	editor = vim
	longpaths = true
	excludesfile = C:\\Users\\matt.wanchap\\stuff\\.gitignore_global
[diff]
	tool = kdiff3
[difftool]
	prompt = false
[commit]
	gpgsign = true
[merge]
	tool = kdiff3
[mergetool]
	prompt = false
[alias]
	ls = log --pretty=oneline --decorate --graph --abbrev-commit --all
	st = status
	last = log -1 HEAD
	ll = log --pretty=format:\"%C(yellow)%h%Cred%d\\\\ %Creset%s%Cblue\\\\ [%cn]\" --decorate --numstat
    wdiff = diff --word-diff=color --word-diff-regex=.
[push]
	default = simple
[credential]
	helper = manager
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process    
[init]
	defaultBranch = master
[branch]
	autosetuprebase = always
